 <html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                Hello <strong>{{name}}</strong> ({{number}})!
            </div>
            <div class="title">
                <h1>Flask code</h1>
            <div id="status">
                <p>The easy bake oven is currently
                    {% if oven.state == true %}
                    on (<a href="/">turn off</a>)
                    {% else %}
                    off (<a href="/">turn on</a>)
                    {% endif %}
                </p>
            </div>
            </div>
                <code><pre>

<!-- @app.route('/cookies/', methods=['POST'])
def cookie_submit():
    name=request.form['yourname']
    number=request.form['yournumber']
    return render_template('form_action.html', name=name, number=number) -->
                </pre></code>
            </div>
        </div>
    </body>
</html>
